<div class="container my-c">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="spacer">
        <div class="spacer"> </div>
      </div>
      <h3> <%= flash[:update] %></h3>
      <h3> <%= flash[:error] %></h3>
      <%= form_for(:link, url: new_link_path, :html => {class: 'form-horizontal'}) do |f| %>
      <div class="spacer"> </div>
      <div class="container">
        <div class="form-group">
          <div class="input-group">
            <%= f.text_field :actual_url,  pattern: "(https?:\/\/)?([a-Z0-9\-]+\.[a-Z]{2,3})", class: "validate", placeholder: "e.g bitly.com" ,class:"my-input", required: true, data: { success: "ok", error: "Invalid" }  %>
          </div>
          <div class="input-group">
            <%= f.text_field :vanity, placeholder: "optional" ,class:"my-input"   %>
            <%= f.hidden_field :user_id, value: @current_user.id, class:"my-input"   %>
          </div>
          <div class="my-button">
            <%= f.submit 'Shorten Url' ,class: "btn btn-primary btn-md" %>
            <% end %>
          </div>

          <%= show_user_message %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="spacer"></div>
<%= render partial:  'users_card' %>