* {
    font-family: 'Simonetta', cursive;
}

body {

  font-family: 'Simonetta', cursive;
  font-size: 14px;
  line-height: 30px;
  color: #595959;
  padding-top: 120px;
}

a {
  color: #337ab7;
  text-decoration: none;
  font-size: 14px;
}

p {
  margin: 0 0 10px;
  font-size: 14px;
}

.navbar {
  background:#fff;
  -webkit-box-shadow: 0 10px 8px -8px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 10px 8px -8px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 8px -8px rgba(0, 0, 0, 0.2);
}

.top-nav-collapse {
  background:rgba(255, 255, 255, 0.95);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.top-nav-collapse:hover {
  background:rgba(255, 255, 255, 1);
}

.navbar-brand {
  float: left;
  margin-top: 35px;
  height: 58px;
  width: 170px;
  line-height: 20px;
  background-image: url(/assets/pearl_bits_logo.png);
}


.dropdown-menu {
  margin: 0;
  padding: 0;
}

.dropdown-menu li {
  margin: 0;
  padding: 0;
}

.dropdown-menu li a {
  padding: 15px 20px;
  border: none;
}

.navbar-right {
  float:right;
  margin:0;
  padding:0;
}

.navbar-right li {
  float:left;
  margin: 0 0 0 5px;
  padding: 35px 0 35px 0;
  list-style:none;
  -webkit-transition: background .8s ease-in-out,padding .8s ease-in-out;
  -moz-transition: background .8s ease-in-out,padding .8s ease-in-out;
  transition: background .8s ease-in-out,padding .8s ease-in-out;
}

.navbar-toggle {
  padding: 0px 0px;
  margin-top: 24px;
  margin-bottom: 14px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar-toggle > .icon {
  margin: 0px;
  border: solid 5px #c0c0c0;
  font-size: 14px;
  padding:  5px 5px;
  color: #c0c0c0;
}

.top-nav-collapse .navbar-nav li a {
  padding:35px 7px 35px 7px;
}

.top-nav-collapse .navbar-brand {
  padding-top:20px;
  padding-bottom:10px;
}

.top-nav-collapse .navbar-right li {
  padding:20px 0 20px 0;
}

.relative {
  position: relative;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

div {
  display: block;
}

.navbar-toggle {
  padding: 0px 0px;
  margin-top: 24px;
  margin-bottom: 14px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}



.btn-primary.btn-bavel {
  border-bottom-color: #b41616;
  background-color: #337ab7;
}


.input-group > .input-group-btn > .btn {
    padding-top: 12px;
    padding-bottom: 13px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    background: #337ab7;
    color: #fff;
    border-color: #337ab7;
    margin-top: -2px;
  }

.btn-primary.btn-bavel {
  border-bottom-color: #b41616;
  background-color: #b41616;
  border: 1px solid transparent;
  border-bottom: 4px solid;
  border-width: 0;
  margin-top: 10px;
}

img {
margin-top: 10px;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
  font-size: 14px;
    margin-top: 10px;
    margin-right: 10px;
}

.form-control {
  font-style: normal;
  color: #000;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: block;
  padding: 0px 18px;
  height: 43px;
  font-size: 13px;
}

.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
  font-size: 14px;
}

.title-section > h4 {
  font-weight: 300;
  padding: 0;
  color: #337ab7;
  font-size: 20px;
}

.parallax {
  top: -99px;
  position: relative;
  color: #fff;
  background-image: url(/assets/home_accountant_slide.jpg);
  background-position: center center;
  background-attachment: fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.firstintro {
  position: relative;
  color: #fff;
  background-image: url(/assets/home_accountant_slide.jpg);
  background-position: center center;
  background-attachment: fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  top: -50px;
}

.carousel-bg {
  position: relative;
  color: #fff;
  background-image: url(/assets/home_languageschool_slider_bg.jpg);
  background-position: center center;
  background-attachment: fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
      margin-bottom: -220px;
    height: 100%;
}

.carousel-bg > .carousel-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #000;
  opacity: 0.70;
  filter: alpha(opacity=90);
}

.done {
    margin-top: 20px;
    font-size: 1.1em;
}

.butomn {
    color: #337ab7;
    font-size: 14px;
    margin-top: 20px;
    font-weight: bold;
    margin-right: 10px;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #000;
}

section {
  padding: 0 0 100px;
  position: relative;
}


.parallax  > .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #000;
  opacity: 0.70;
  filter: alpha(opacity=90);
}

.firstintro  > .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #000;
  opacity: 0.70;
  filter: alpha(opacity=90);
}

section > .container {
  position: relative;

}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.title-section.small {
  margin-bottom: 30px;
}
.title-section {
  display: table;
  margin: 2px auto 85px;
  padding: 0;
  text-align: center;
  position: relative;
}

.small, small {
  font-size: 85%;
}

.title-section {
  display: table;
  margin: 2px auto 85px;
  padding: 0;
  text-align: center;
  position: relative;
  margin-top: 100px;
}

.btn{
  border-radius: 50px;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.pricing-table {
  border: solid 1px #dedede;
  background: #fff;
  text-align: center;
  position: relative;
  margin-bottom: 34px;
}
.pricing-header {
  background: #337ab7;
  padding: 32px 0px 2px;
}
.pricing-title {
  background: #337ab7;
  padding: 13px 0px 1px;
  color: #fff;
}
.pricing-list ul li {
  list-style: none;
  display: block;
  border-bottom: solid 1px #dedede;
  font-size: 14px;
  padding: 10px 0px 11px;
}
.pricing-footer {
  position: relative;
  background: #f6f6f6;
  padding: 20px 0px;
}
.color-box-second {
  background-color: #337ab7;
  color: #fff;
}

.color-box-third {
  background-color: #337ab7;
  color:#fff;
}



.carousel-inner {
  min-height: 0px;
}

footer {
  position: relative;
  text-align: center;
  padding: 100px 0 70px;
  background: #337ab7;
  color: #fff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
 background: #33a6cc;
}

.pricing-list ul {
  margin: 0;
  padding: 0;
}

.table-responsive {
  background: #333 none repeat scroll 0 0;
  color: #fff;
  min-height: 0.01%;
}
.navbar-fixed-top {
  border-width: 0 0 18px;
  top: 0;
}

.url_box {
  background: #fff none repeat scroll 0 0;
  left: 20em;
  margin-top: 30px;
  position: absolute;
  text-align: center;
  width: 30%;
}
.user_url_box {
  background: #f1f1f1;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  background-color: #333;
  border-radius: 10px;
}
.btn-block {
  display: block;
  width: 100%;
  padding: 15px;
}


.btn-social>:first-child {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 32px;
  line-height: 34px;
  font-size: 1.6em;
  text-align: center;
  border-right: 0px solid rgba(0,0,0,0.2);
}

.spacer{
  margin-top: 40px
}

.input-group-addon:first-child {
  border-right: 0;
  background: #000;
  color: #fff;
  font-size: 14px;
}

.panel-green .panel-heading {
  border-color: #337ab7;
  color: #FFF;
  background-color: #337ab7;
}
.panel-yellow .panel-heading {
  border-color: #337ab7;
  color: #FFF;
  background-color: #337ab7;
}
.panel-red .panel-heading {
  border-color: #337ab7;
  color: #FFF;
  background-color: #337ab7;
}

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  font-size: 30px;
  -moz-osx-font-smoothing: grayscale;
}

.profile {
  border: 2px solid #000;
  padding: 30px 20px;
  background: #000;
  width: 250px;
  color: #fff;
  border-radius: 50px;
  margin: 2px auto 5px;
  text-align: center;
}
h5, .h5 {
  font-size: 16px;
}
h3, .h3 {
    font-size: 16px;
}
.col-sm-offset-2 {
  margin-left: 16.66666667%;
  font-size: 14px;
}


.custombutton {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background: #337ab7;
  color: #fff;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 0px 5px;
  font-size: 12px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
}

.welcome {
  color: #337ab7;
  font-size: 1.2em;
}

.my-input {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid black;
  margin-top: 40px;
  text-align: center;
  width: 50em;
}

.my-input:focus {
  border-bottom: 1px solid black;
  outline: 0 none;
}

.my-button {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center !important;
  width: 50em;
}

.my-short-url {
  padding-top: 10px;
  text-align: center !important;
  width: 50em;
}


